---
layout: archive
title: "Publications"
permalink: /publications/
description: "Publications by Bronson Jeong in computational genomics, statistical genetics, biomedical machine learning, medical imaging, and clinical data science."
author_profile: false
---

{% if site.author.googlescholar %}
  <div class="wordwrap">Selected papers, preprints, and workshop/conference publications are listed below. A broader citation record is available on <a href="{{site.author.googlescholar}}">Google Scholar</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2 class="pub-category-title">{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}


