{% if page.collection == "publications" or post.collection == "publications" %}
  <div class="pub-item">
    <p>
      <strong>{{ post.title }}</strong><br>
      {{ post.authors }}<br>
      {% if post.venue %}
        {{ post.venue }},
      {% endif %}
      {% if post.date %}
        {{ post.date | date: "%Y" }}
      {% endif %}
    </p>
    {% if post.paperurl %}
      <p><a href="{{ post.paperurl }}" target="_blank">[PDF]</a></p>
    {% endif %}
    {% if post.note %}
      <p><em>{{ post.note }}</em></p>
    {% endif %}
  </div>
{% else %}
  {# fallback default layout for other collections #}
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2 class="archive__item-title" itemprop="headline">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h2>
    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt }}</p>
    {% endif %}
  </article>
{% endif %}