<div class="talk-item">
  <p><strong>{{ post.title }}</strong></p>

  {% assign show_line = false %}
  <p>
    {% if post.event %}
      <em>{{ post.event }}</em>
      {% assign show_line = true %}
    {% endif %}

    {% if post.location %}
      {% if show_line %}, {% endif %}
      {{ post.location }}
      {% assign show_line = true %}
    {% endif %}

    {% if post.date %}
      {% if show_line %} — {% endif %}
      {{ post.date | date: "%Y" }}
    {% endif %}
  </p>

  {% if post.description %}
    <p>{{ post.description }}</p>
  {% endif %}
</div>
