<div class="talk-item">
  <p><strong><a href="{{ post.url | prepend: base_path }}">{{ post.title }}</a></strong></p>

  {% assign show_line = false %}
  {% assign talk_event = post.event | default: post.venue %}
  <p>
    {% if post.type %}
      {{ post.type }}
      {% assign show_line = true %}
    {% endif %}

    {% if talk_event %}
      {% if show_line %} · {% endif %}
      <em>{{ talk_event }}</em>
      {% assign show_line = true %}
    {% endif %}

    {% if post.location %}
      {% if show_line %} · {% endif %}
      {{ post.location }}
      {% assign show_line = true %}
    {% endif %}

    {% if post.date %}
      {% if show_line %} — {% endif %}
      {{ post.date | date: "%Y" }}
    {% endif %}
  </p>

  {% if post.description %}
    <p>{{ post.description }}</p>
  {% elsif post.content %}
    {{ post.content | markdownify }}
  {% endif %}
</div>
